<!DOCTYPE html>
<html lang="en">
<head>
  <title>DroneSpace Gates</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='css/style.css') }}"/>
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700,900" rel="stylesheet">

  <style>
  </style>
</head>
  <body>

    <div class="jumbotron text-center">
      <h1>DRONESPACE TIMING</h1>
    </div>

    <div class="container-fluid text-center">
      <div class="row">

        <div class="col-sm">
          <h2>Module</h2>
          <label class="container">Module 1
            <input type="checkbox" id="module0">
            <span class="checkmark"></span>
          </label>
          <label class="container">Module 2
            <input type="checkbox" id="module1">
            <span class="checkmark"></span>
          </label>
          <label class="container">Module 3
            <input type="checkbox" id="module2">
            <span class="checkmark"></span>
          </label>
          <label class="container">Module 4
            <input type="checkbox" id="module3">
            <span class="checkmark"></span>
          </label>
          <label class="container">Module 5
            <input type="checkbox" id="module4">
            <span class="checkmark"></span>
          </label>
          <label class="container">Module 6
            <input type="checkbox" id="module5">
            <span class="checkmark"></span>
          </label>
          <label class="container">Module 7
            <input type="checkbox" id="module6">
            <span class="checkmark"></span>
          </label>
          <label class="container">Module 8
            <input type="checkbox" id="module7">
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="col-sm">
          <h2>Command</h2>
          <label class="container">Set Enter Bubble (default: 1.9)
            <input type="radio" checked="checked" name="radio" id="enterBubble">
            <span class="checkmark"></span>
          </label>
          <label class="container">Set Exit Bubble (default: 2.2)
            <input type="radio" name="radio" id="exitBubble">
            <span class="checkmark"></span>
          </label>
          <label class="container">Set Distance Multiplier (default: 1.0)
            <input type="radio" name="radio" id="distanceMultiplier">
            <span class="checkmark"></span>
          </label>
          <label class="container">Set Frequency
            <input type="radio" name="radio" id="frequency">
            <span class="checkmark"></span>
          </label>
          <label class="container">Run Test Program
            <input type="radio" name="radio" id="testProgram">
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="col-sm">
          <h2>Value</h2>
            <input value="0" type="number" id="commandValue">
          </label>
        </div>
        <div class="col-sm">
          <h2>Ready?</h2>
          <button type="button" class="btn btn-block btn-neutral" onclick="execute()">Execute</button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <h2>Frequency Chart</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <h2>Fatshark (F)</h2>
          <ol>
            <li>5740</li>
            <li>5760</li>
            <li>5780</li>
            <li>5800</li>
            <li>5820</li>
            <li>5840</li>
            <li>5860</li>
            <li>5880</li>
          </ol>
        </div>
        <div class="col-sm">
          <h2>Boscam (E)</h2>
          <ol>
            <li>5705</li>
            <li>5685</li>
            <li>5665</li>
            <li>5645</li>
            <li>5885</li>
            <li>5905</li>
            <li>5925</li>
            <li>5945</li>
          </ol>
        </div>
        <div class="col-sm">
          <h2>Raceband (C)</h2>
          <ol>
            <li>5658</li>
            <li>5695</li>
            <li>5732</li>
            <li>5769</li>
            <li>5806</li>
            <li>5843</li>
            <li>5880</li>
            <li>5917</li>
          </ol>
        </div>
        <div class="col-sm">
          <h2>DroneSpace (D)</h2>
          <ol>
            <li>5685</li>
            <li>5760</li>
            <li>5860</li>
            <li>5905</li>
          </ol>
        </div>
      </div>
    </div>

    <script src="{{ url_for('static',filename='js/configure.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
