<!DOCTYPE html>
<html lang="en">
<head>
  <title>DroneSpace Gates</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='css/style.css') }}"/>
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700,900" rel="stylesheet">

  <style>
  </style>
</head>
  <body>

    <div class="jumbotron text-center">
      <h1>DRONESPACE TIMING</h1>
    </div>

    <div class="container-fluid text-center">
      <div class="row">

        <div class="col-sm">
          <h2>Module</h2>
          <label class="container">Module 1
            <input type="checkbox" id="module0">
            <span class="checkmark"></span>
          </label>
          <label class="container">Module 2
            <input type="checkbox" id="module1">
            <span class="checkmark"></span>
          </label>
          <label class="container">Module 3
            <input type="checkbox" id="module2">
            <span class="checkmark"></span>
          </label>
          <label class="container">Module 4
            <input type="checkbox" id="module3">
            <span class="checkmark"></span>
          </label>
          <label class="container">Module 5
            <input type="checkbox" id="module4">
            <span class="checkmark"></span>
          </label>
          <label class="container">Module 6
            <input type="checkbox" id="module5">
            <span class="checkmark"></span>
          </label>
          <label class="container">Module 7
            <input type="checkbox" id="module6">
            <span class="checkmark"></span>
          </label>
          <label class="container">Module 8
            <input type="checkbox" id="module7">
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="col-sm">
          <h2>Command</h2>
          <label class="container">Set Enter Bubble (default: 1.5)
            <input type="radio" checked="checked" name="radio" id="enterBubble">
            <span class="checkmark"></span>
          </label>
          <label class="container">Set Exit Bubble (default: 1.5)
            <input type="radio" name="radio" id="exitBubble">
            <span class="checkmark"></span>
          </label>
          <label class="container">Set Rssi Multiplier (default: 1.0)
            <input type="radio" name="radio" id="rssiMultiplier">
            <span class="checkmark"></span>
          </label>
          <label class="container">Set Channel
            <input type="radio" name="radio" id="channel">
            <span class="checkmark"></span>
          </label>
          <label class="container">Set Band
            <input type="radio" name="radio" id="band">
            <span class="checkmark"></span>
          </label>
          <label class="container">Run Test Program
            <input type="radio" name="radio" id="testProgram">
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="col-sm">
          <h2>Value</h2>
            <input value="0" type="number" id="commandValue">
          </label>
        </div>
        <div class="col-sm">
          <h2>Ready?</h2>
          <button type="button" class="btn btn-block btn-neutral" onclick="execute()">Execute</button>
        </div>
      </div>

        <div class="row">
          <ul>
          <li>start by sending COMMAND_START</li>
          <li>send the command to be run on the module</li>
          <li>send the id of the module we are refering to (-1 if all modules)</li>
          <li>send any parameter needed to run the command</li>
        </ul>
        <ul>
          <li>COMMAND_START 96</li>
          <li>SET_ENTER_THRESH 11</li>
          <li>SET_EXIT_THRESH 12</li>
          <li>SET_MULTIPLIER 13</li>
          <li>SET_CHANNEL 14</li>
          <li>RUN_TEST 15</li>
          </ul>
            <div class="col">
                <h3>Send Command</h3>
                <input id="commandInput" class="form-control form-control-lg" type="text" placeholder="command">
                <button id="sendBtn" type="button" class="btn btn-white" onclick="sendSerialCommand()">SEND</button>
            </div>
        </div>
    </div>


    <script src="{{ url_for('static',filename='js/configure.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
